In [1]:
# class 와 object

# 학생 리스트를 선언 합니다.
students = [
    { "name": "윤인성", "korean": 87, "math": 98, "english": 88, "science": 95 },
    { "name": "연하진", "korean": 92, "math": 98, "english": 96, "science": 98 },
    { "name": "구지연", "korean": 76, "math": 96, "english": 94, "science": 90 },
    { "name": "나선주", "korean": 98, "math": 92, "english": 96, "science": 92 },
    { "name": "윤아린", "korean": 95, "math": 98, "english": 98, "science": 98 },
    { "name": "윤명월", "korean": 64, "math": 88, "english": 92, "science": 92 }
]

In [28]:
# 딕셔너리를 리턴하는 함수를 선언
def create_student(name,korean,math,english,scince) :
    return {
        "name" : name,
        "korean" : korean,
        "english" : english,
        "math" : math,
        "science" : scince        
    }

# 학생 점수의 합을 구하는 함수 
def student_get_sum(student) : 
    return student['korean'] + student['math'] + student['english'] + student['science']

# 평균을 구하는 함수
def student_get_avg(student) :
    return student_get_sum(student) / 4

# 출력하는 함수 
def student_to_string(student) : 
    return "{}\t{}\t{}".format(student["name"], student_get_sum(student), student_get_avg(student))

In [55]:
students = [
    create_student("윤인성", 87, 98, 88, 95),
    create_student("연하진", 92, 98, 96, 98),
    create_student("구지연", 76, 96, 94, 90),
    create_student("나선주", 98, 92, 96, 92),
    create_student("윤아린", 95, 98, 98, 98),
    create_student("윤명월", 64, 88, 92, 92)
]
print("이름", "총점", "평균", sep = "\t")
for student in students :
    print(student_to_string(student))

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	356	89.0
나선주	378	94.5
윤아린	389	97.25
윤명월	336	84.0

In [5]:
# 학생을 한 명씩 반복 합니다.
print("이름", "총점", "평균", sep = "\t")
for student in students :
    # 점수의 총합과 평균을 구합니다.
    score_sum = student['korean'] + student['math'] + student['english'] + student['science']
    score_avg = score_sum / 4
    print(student['name'],score_sum,score_avg, sep="\t")

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	356	89.0
나선주	378	94.5
윤아린	389	97.25
윤명월	336	84.0

클래스
객체를 조금 더 효육적으로 생성하기 위해 만들어진 구문(일반적으로 카멜 케이스로 작명)
class 클래스 이름 : 
    클래스 내용
    
생성자
클래스이름과 같은 함수
class 클래스 이름 :
    def __init__(self,추가적인 매개변수) :
        pass
        
클래스 내부의 함수는 첫 번째 매개변수로 반드시 self 입력해야 함
self : '자기자신' 나타내는 딕셔너리
self.<식별자>형태로 접근

In [64]:
#class 로 생성하여 object를 관리
class Student : # 함수가 아니기 때문에 뒤에 괄호가 필요 없음
    def __init__(self,name,korean,math,english,science) : # 생성자 
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science

    def get_sum(self) : 
        return self.korean + self.math + self.english + self.science
    def get_avg(self) :
        return self.get_sum / 4
    def __str__(self) :
        return "{}\t{}\t{}".format(self.name, self.get_sum, self.get_avg)
    
    def __eq__(self, value): 
        return self.get_sum() == value.get_sum()
    def __ne__(self, value): 
        return self.get_sum() != value.get_sum()
    def __gt__(self, value):
        return self.get_sum() > value.get_sum()
    def __ge__(self, value):
        return self.get_sum() >= value.get_sum()
    def __lt__(self, value):
        return self.get_sum() < value.get_sum()
    def __le__(self, value):
        return self.get_sum() <= value.get_sum()
#a_class  =Student("윤인성", 87, 98, 88, 95)        
# Student 클래스 , a_class 인스턴스, 데이터
#print(a_class.name, a_class.korean, a_class.math)

In [66]:
students = [
    Student("윤인성", 87, 98, 88, 95),
    Student("연하진", 92, 98, 96, 98),
    Student("구지연", 76, 96, 94, 90),
    Student("나선주", 98, 92, 96, 92),
    Student("윤아린", 95, 98, 98, 98),
    Student("윤명월", 64, 88, 92, 92)
]
print("이름", "총점", "평균", sep="\t")
for student in students:
    print(str(student))   # student의 __str__() 함수가 실행 됨
print("students[0] == students[1] = ", students[0] != students[1])

이름	총점	평균
윤인성	<bound method Student.get_sum of <__main__.Student object at 0x0000021B66771A00>>	<bound method Student.get_avg of <__main__.Student object at 0x0000021B66771A00>>
연하진	<bound method Student.get_sum of <__main__.Student object at 0x0000021B66771F70>>	<bound method Student.get_avg of <__main__.Student object at 0x0000021B66771F70>>
구지연	<bound method Student.get_sum of <__main__.Student object at 0x0000021B66771D90>>	<bound method Student.get_avg of <__main__.Student object at 0x0000021B66771D90>>
나선주	<bound method Student.get_sum of <__main__.Student object at 0x0000021B66771AF0>>	<bound method Student.get_avg of <__main__.Student object at 0x0000021B66771AF0>>
윤아린	<bound method Student.get_sum of <__main__.Student object at 0x0000021B66771040>>	<bound method Student.get_avg of <__main__.Student object at 0x0000021B66771040>>
윤명월	<bound method Student.get_sum of <__main__.Student object at 0x0000021B66771B80>>	<bound method Student.get_avg of <__main__.Student object at 0x0000021B66771B80>>
students[0] == students[1] =  True

In [58]:
students = [
    Student("윤인성", 87, 98, 88, 95),
    Student("연하진", 92, 98, 96, 98),
    Student("구지연", 76, 96, 94, 90),
    Student("나선주", 98, 92, 96, 92),
    Student("윤아린", 95, 98, 98, 98),
    Student("윤명월", 64, 88, 92, 92)
]

print("students의 데이터 갯수 : ", len(students))
students[1].name

students의 데이터 갯수 :  6

'연하진'

In [ ]:
상속 어떤 클래스를 기반으로 그 속성과 기능을 물려받아 새로운 클래스 만드는것

In [62]:
# instance(인스턴스, 클래스)
class Human : 
    def __init__(self) :
        pass
    
class Student(Human) : 
    def __init__(self) :
        pass
    
student= Student()
# instance 확인
print("isinstance(student, Human) : ", isinstance(student,Human))
print("type(student)==Human" , type(student) == Human)

human = Human()
print("isinstance(human, Student) : ", isinstance(human, Student))
print("type(human) == Human ", type(human) == Human)

isinstance(student, Human) :  True
type(student)==Human False
isinstance(human, Student) :  False
type(human) == Human  True

__str__ 함수는 외부에서 str() 을 실행해도 된다.

In [67]:
class Student:
    count = 0

    def __init__(self, name, korean, math, english, science):
        # 인스턴스 변수 초기화
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science
        
        # 클래스 변수 설정
        Student.count += 1
        print("{}번째 학생이 생성되었습니다.".format(Student.count))
    

# 학생 리스트를 선언합니다.
students = [
    Student("윤인성", 87, 98, 88, 95),
    Student("연하진", 92, 98, 96, 98),
    Student("구지연", 76, 96, 94, 90),
    Student("나선주", 98, 92, 96, 92),
    Student("윤아린", 95, 98, 98, 98),
    Student("윤명월", 64, 88, 92, 92)
]

# 출력합니다.
print()
print("현재 생성된 총 학생 수는 {}명입니다.".format(Student.count))

1번째 학생이 생성되었습니다.
2번째 학생이 생성되었습니다.
3번째 학생이 생성되었습니다.
4번째 학생이 생성되었습니다.
5번째 학생이 생성되었습니다.
6번째 학생이 생성되었습니다.

현재 생성된 총 학생 수는 6명입니다.

클래스 함수 
클래스가 가진 함수
'클래스가 가진 기능' 명시적으로 나타냄
데코레이터(decorator) : @classmethod

In [ ]:
# 클래스를 선언합니다.
class Student:
    # 클래스 변수
    count = 0
    students = []

    # 클래스 함수
    @classmethod
    def print(cls):
        print("------ 학생 목록 ------")
        print("이름\t총점\t평균")
        for student in cls.students:
            print(str(student))
        print("------- ------- -------")

    # 인스턴스 함수
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science
        Student.count += 1
        Student.students.append(self)

    def get_sum(self):
        return self.korean + self.math +\
            self.english + self.science

    def get_average(self):
        return self.get_sum() / 4

    def __str__(self):
        return "{}\t{}\t{}".format(\
            self.name,\
            self.get_sum(),\
            self.get_average())

In [ ]:
# 파이빗 변수
# 클래스 내에서 __두개로 <변수이름>형태로 인스턴스 변수 선언

In [69]:
# 원의 둘레와 넓이를 구합니다
# 모듈을 가져옵니다.
import math

# 클래스를 선언합니다.
class Circle:
    def __init__(self, radius):
        self.__radius = radius
    def get_circumference(self):
        return 2 * math.pi *  self.__radius
    def get_area(self):
        return math.pi * (self.__radius ** 2)
                                            
    def get_radius(self) :     # getter
        return self.__radius
    def set_radius(self, value) :      # setter
        self.__radius = value
                                                       
# 원의 둘레와 넓이를 구합니다.
circle = Circle(10)
print("# 원의 둘레와 넓이를 구합니다.")
print("원의 둘레:", circle.get_circumference())
print("원의 넓이:", circle.get_area())
print()

# __radius에 접근합니다.
print("# __radius에 접근합니다.")
print(circle.get_radius)

# 원의 둘레와 넓이를 구합니다.
원의 둘레: 62.83185307179586
원의 넓이: 314.1592653589793

# __radius에 접근합니다.
<bound method Circle.get_radius of <__main__.Circle object at 0x0000021B667711C0>>

In [70]:
# pandas를 활용하여 데이터 처리
import pandas as pd

dict_data = {'a' : 1, 'b':2, 'c':3}

ar = pd.Series(dict_data)

print(type(dict_data))
print(type(ar))

<class 'dict'>
<class 'pandas.core.series.Series'>

In [72]:
print(dict_data)
print(ar)

print(dict_data['a'], ":", ar[0]) ## ar에서 'a' 인덱스명
print(ar[['a','c']])
ar[1:2] # 인덱스 첨자로 접근하면 자미작 첨자 위치 데이터 불포함
ar['b' : 'c'] # 인덱스명으로 접근하면 마지막 데이터 포함
# 딕셔너리를 시리즈로 변경 : 딕셔너리의 키가 시리즈의 인덱스명이 됨
# 접근은 인덱스명 또는 인덱스 첨자로 접근 가능

{'a': 1, 'b': 2, 'c': 3}
a    1
b    2
c    3
dtype: int64
1 : 1
a    1
c    3
dtype: int64

b    2
c    3
dtype: int64

In [82]:
a_var = [[1,2,3,],[4,5,6],[7,8,9]]
df = pd.DataFrame(a_var)
df

df.index = ['a','b','c']
df.columns = ['c1','c2','c3']
df1 = df
df1.rename(index = {'a' : 'ida', 'b' : 'idb'}, inplace=True)
df1

     c1  c2  c3
ida   1   2   3
idb   4   5   6
c     7   8   9

In [83]:
df1 = df # df의 주소를 복사, df의 값이 변하면 df1도 변함
df2 = df[:] # df의 값을 복사, df와 df2가 각기 다른 자료로 처리 가능
df.drop(0, axis = 0, inplace=True) 
df

KeyError: '[0] not found in axis'

In [ ]:
exam_data = {'수학':[90, 80, 70], '영어':[98,89,95], '음악':[]}

In [78]:
def input_score() :
    scores = input("국어 영어 수학 점수 입력>").split()
    for i, score in enumerate(scores) :
        scores[i] = int(score) # 데이터 타입 변환
    return scores

In [80]:
# 성적 입력 프로그램 작성
import pandas as pd
df = pd.DataFrame(columns=["국어",'영어','수학']) # 컬럼명만 부여한 데이터프레임 생성

while True : 
    name = input("이름 입력 quit 종료 >")
    if name == "quit" :
        break
        
    score = input_score()
    df.loc[name] = score # 입력된 name 인덱스로 점수 추가
    
df # 데이터 출력
# 컬럼을 접근하는 방법 df.컬럼명 또는 df.[컬럼명]
# row(행)을 접근하는 방법 df.iloc[인덱스], df.iloc[[1,3,5]]

이름 입력 quit 종료 >신세개
국어 영어 수학 점수 입력>100 50 50
이름 입력 quit 종료 >강민정
국어 영어 수학 점수 입력>50 80 50
이름 입력 quit 종료 >나채연
국어 영어 수학 점수 입력>80 80 80
이름 입력 quit 종료 >quit

      국어  영어  수학
신세개  100  50  50
강민정   50  80  50
나채연   80  80  80

In [85]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
df

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [86]:
# '이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경사항 반영
df.set_index('이름', inplace=True)
print(df)
print('\n')

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [87]:

# 데이터프레임 df의 특정 원소 1개 선택 ('서준'의 '음악' 점수)
a = df.loc['서준','음악']
print(a)
b = df.iloc[0,2] # iloc로 검색
print(b)
print('\n')

85
85

In [90]:

# 데이터프레임 df의 특정 원소 2개 이상 선택 ('서준'의 '음악', '체육' 점수) 
c = df.loc['서준',['음악','체육']]
print(c)
d = df.iloc[0,[2,3]]
print(d)
e = df.iloc[0,2:] 
print(e)
f = df.loc['서준','음악':'체육'] # 음악부터 체육까지 
print(f)
print('\n')

음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64

In [ ]:

# df의 2개 이상의 행과 열로부터 원소 선택 ('서준', '우현'의 '음악', '체육' 점수) 
g = 
print(g)
h = 
print(h)
i = 
print(i)
j = 
print(j)

문) 1.이름을 입력받아 데이터 프레임에 인덱스로 저장하고
키와 몸무게를 입력 받아 저장합니다.
키와 몸무게가 float 이 입력되지 않으면 다시 입력하시고 이름에 'q' 가 입력되면 입력 종료

2. 찾고자 하는 이름을 입력받아 키와 몸무게를 출력하고 
키와 몸무게를 다시 입력 받아 기존의 값을 변경 하세요.

3. 평균보다 적은 키를 가진 사람의 이름과 키를 출력하세요.

In [107]:
import pandas as pd
df = pd.DataFrame(columns = ['이름', '키', '몸무게'])

def input_name() : 
    return 
    input_names = input("이름과 키 몸무게를 입력하세요. \n").split()
    for i, name in enumerate(input_names) :
            input_names[i] = name
    return input_names
        
while True :
    namess = input("이름 입력 q  종료")
    if namess == "q" :
        break


        
 #   score = input_score()
 #   df.loc[name] = score

이름 입력 q  종료신세개 158 70
이름 입력 q  종료q

In [ ]:
def input_dataframe(df):
    while True:
        name = input("이름 입력 quit 종료 >  ")
        if name == "quit":
            break

        data = input_data()
        df.loc[name] = data  # 입력된 name 인덱스로 데이터 추가

In [ ]:
def input_data():
    while True:
        values = input("키와 몸무게 ex) 170 51.2 > ").split()
        if len(values) == 2:
           break
        else:
            print("키와 몸무게를 형식에 맞게 입력하세요 ")
           
    for i, value in enumerate(values):
        values[i] = float(value)
    return values

In [ ]:
def search_data(name, df):
    for i, idx_name in enumerate(list(df.index)):
        if name == idx_name:
            return i

def print_data(idx, df):
    print("{} : {}, {}".format(df.iloc[idx], df.iloc[idx,0], df.iloc[idx,1]))
import pandas as pd

df = pd.DataFrame(columns=["키","몸무게"])

input_dataframe(df)  # 자료 입력
print("1 : ")
print(df)

In [109]:

# 검색하고자 하는 이름 입력
search_name = input("검색할 이름 입력 : ")
idx = search_data(search_name, df)
if idx < len(df):
    print_data(idx, df)
    value = input_data() #  키와 몸무게 입력
    df.iloc[idx] = value
print("2 : ")
df

#평균키보다 검적은 키를 가진 사람의 이름과 키를 출력

avg_height = sum(df.키)/len(df.키)
print(avg_height)
for i, height in enumerate(df.키):
    if height < avg_height:
        print("3 => {} : {}".format(df.iloc[i], df.iloc[i,0]))

이름 입력 quit 종료 >  신세개 175 85
키와 몸무게 ex) 170 51.2 > 신세개 185 75.2
키와 몸무게를 형식에 맞게 입력하세요
키와 몸무게 ex) 170 51.2 > quit
키와 몸무게를 형식에 맞게 입력하세요
키와 몸무게 ex) 170 51.2 > quit
키와 몸무게를 형식에 맞게 입력하세요
키와 몸무게 ex) 170 51.2 > q
키와 몸무게를 형식에 맞게 입력하세요
키와 몸무게 ex) 170 51.2 > quit
키와 몸무게를 형식에 맞게 입력하세요
키와 몸무게 ex) 170 51.2 > quit quit quit
키와 몸무게를 형식에 맞게 입력하세요

KeyboardInterrupt: Interrupted by user