### 내가한거 깔짝

In [ ]:
# 필요한 라이브러리를 불러 옵니다. 
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt

In [ ]:
# 1. 데이터 불러오기
# 2. 데이터 확인하기 
# 3. 데이터

In [ ]:
data = pd.read_csv("/content/ThoraricSurgery.csv")

In [ ]:
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469 entries, 0 to 468
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   293     469 non-null    int64
 1   1       469 non-null    int64
 2   3.8     469 non-null    float64
 3   2.8     469 non-null    float64
 4   0       469 non-null    int64
 5   0.1     469 non-null    int64
 6   0.2     469 non-null    int64
 7   0.3     469 non-null    int64
 8   0.4     469 non-null    int64
 9   0.5     469 non-null    int64
 10  12      469 non-null    float64
 11  0.6     469 non-null    int64
 12  0.7     469 non-null    int64
 13  0.8     469 non-null    int64
 14  1.1     469 non-null    int64
 15  0.9     469 non-null    int64
 16  62      469 non-null    int64
 17  0.10    469 non-null    int64
dtypes: float64(3), int64(15)
memory usage: 66.1 KB

   293  1   3.8   2.8  0  0.1  0.2  ...  0.6  0.7  0.8  1.1  0.9  62  0.10
0    1  2  2.88  2.16  1    0    0  ...    0    0    0    1    0  60     0
1    8  2  3.19  2.50  1    0    0  ...    0    0    1    1    0  66     1
2   14  2  3.98  3.06  2    0    0  ...    0    0    0    1    0  80     1
3   17  2  2.21  1.88  0    0    1  ...    0    0    0    1    0  56     0
4   18  2  2.96  1.67  0    0    0  ...    0    0    0    1    0  61     0

[5 rows x 18 columns]

In [ ]:
x_data = data.copy()
y_data = x_data.pop("0.10")
X = x_data.copy()

In [ ]:
print(x_data.head())
print(y_data.head())
y_data.unique()

   293  1   3.8   2.8  0  0.1  0.2  ...      12  0.6  0.7  0.8  1.1  0.9  62
0    1  2  2.88  2.16  1    0    0  ...  14.000    0    0    0    1    0  60
1    8  2  3.19  2.50  1    0    0  ...  11.000    0    0    1    1    0  66
2   14  2  3.98  3.06  2    0    0  ...  11.444    0    0    0    1    0  80
3   17  2  2.21  1.88  0    0    1  ...  12.000    0    0    0    1    0  56
4   18  2  2.96  1.67  0    0    0  ...  12.000    0    0    0    1    0  61

[5 rows x 17 columns]
0    0
1    1
2    1
3    0
4    0
Name: 0.10, dtype: int64

array([0, 1])

In [ ]:
# normarization
X_stats = X.describe()
X_stats = X_stats.transpose()
print(X.describe())
print(X_stats)

              293           1         3.8  ...         1.1         0.9          62
count  469.000000  469.000000  469.000000  ...  469.000000  469.000000  469.000000
mean   235.377399    3.100213    3.280533  ...    0.820896    0.004264   62.535181
std    135.940568    0.716547    0.871996  ...    0.383849    0.065233    8.716164
min      1.000000    2.000000    1.440000  ...    0.000000    0.000000   21.000000
25%    118.000000    3.000000    2.600000  ...    1.000000    0.000000   57.000000
50%    235.000000    3.000000    3.160000  ...    1.000000    0.000000   62.000000
75%    353.000000    3.000000    3.810000  ...    1.000000    0.000000   69.000000
max    470.000000    8.000000    6.300000  ...    1.000000    1.000000   87.000000

[8 rows x 17 columns]
     count        mean         std    min     25%     50%     75%    max
293  469.0  235.377399  135.940568   1.00  118.00  235.00  353.00  470.0
1    469.0    3.100213    0.716547   2.00    3.00    3.00    3.00    8.0
3.8  469.0    3.280533    0.871996   1.44    2.60    3.16    3.81    6.3
2.8  469.0    4.572473   11.780139   0.96    1.96    2.40    3.08   86.3
0    469.0    0.782516    0.534727   0.00    0.00    1.00    1.00    2.0
0.1  469.0    0.066098    0.248719   0.00    0.00    0.00    0.00    1.0
0.2  469.0    0.144989    0.352466   0.00    0.00    0.00    0.00    1.0
0.3  469.0    0.066098    0.248719   0.00    0.00    0.00    0.00    1.0
0.4  469.0    0.688699    0.463520   0.00    0.00    1.00    1.00    1.0
0.5  469.0    0.166311    0.372757   0.00    0.00    0.00    0.00    1.0
12   469.0   11.730158    0.695159  11.00   11.00   12.00   12.00   14.0
0.6  469.0    0.074627    0.263069   0.00    0.00    0.00    0.00    1.0
0.7  469.0    0.004264    0.065233   0.00    0.00    0.00    0.00    1.0
0.8  469.0    0.017058    0.129624   0.00    0.00    0.00    0.00    1.0
1.1  469.0    0.820896    0.383849   0.00    1.00    1.00    1.00    1.0
0.9  469.0    0.004264    0.065233   0.00    0.00    0.00    0.00    1.0
62   469.0   62.535181    8.716164  21.00   57.00   62.00   69.00   87.0

In [ ]:
def min_max_norm(x):
  return (x - X_stats['min']) / (X_stats['max'] - X_stats['min'])

def standard_norm(x):
  return (x - X_stats['mean']) / X_stats['std']

In [ ]:
# 표준화 한 데이터 셋
min_max_norm_train_data = min_max_norm(X)
standard_norm_train_data = standard_norm(X)

In [ ]:
# 데이터 나누기

### 환자의 수술후 생존율 예측

In [ ]:
# 필요한 라이브러리를 불러옵니다.
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt

In [ ]:
# csv read
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/영우_4기_딥러닝/dataset/ThoraricSurgery.csv')

In [ ]:
data.head()

In [ ]:
data = data.values

In [ ]:
x = data[:,0:17]
y = data[:,17]

In [ ]:
type(x)
type(y)

In [ ]:
# 전체 데이터에서 학습데이터와 테스트 데이터 구분
x_train1, x_test, y_train1, y_test = train_test_split(x, y, test_size=0.2)
x_train, x_valid, y_train, y_valid = train_test_split(x_train1, y_train1, test_size=0.3)

In [ ]:
input_layer = tf.keras.layers.Input(shape=(17,))
x = tf.keras.layers.Dense(10, activation='sigmoid', kernel_initializer=tf.keras.initializers.he_normal())(input_layer) # he 초기화 방법
x = tf.keras.layers.Dense(10, activation='sigmoid', kernel_initializer=tf.keras.initializers.glorot_uniform)(x) # xavier초기화 방법
output_layer = tf.keras.layers.Dense(1, activation='sigmoid')(x)
model = tf.keras.models.Model(inputs=[input_layer], outputs=[output_layer])
model.summary()

In [ ]:
loss = tf.keras.losses.binary_crossentropy
optimizer = tf.keras.optimizers.SGD(learning_rate=0.4)
metrics = tf.keras.metrics.binary_accuracy
model.compile(loss=loss, optimizer=optimizer, metrics=[metrics])

In [ ]:
history = model.fit(x_train, y_train, epochs=100, batch_size=10, validation_data=(x_valid, y_valid))

In [ ]:
print(history.history.keys())

In [ ]:
## history에서 loss와 val_loss의 key를 가지는 값들만 추출
loss = history.history['loss']
val_loss = history.history['val_loss']
### loss와 val_loss를 그래프화
epochs = range(1, len(loss) + 1)
plt.subplot(211)  ## 2x1 개의 그래프 중에 1번째
plt.plot(epochs, loss, 'bo', label='Training loss')
plt.plot(epochs, val_loss, 'b', label='Validation loss')
plt.title('Training and validation loss')
plt.xlabel('Epochs')
plt.ylabel('Loss')
plt.legend()

### history에서 binary_accuracy와 val_binary_accuracy key를 가지는 값들만 추출
rmse = history.history['binary_accuracy']
val_rmse = history.history['val_binary_accuracy']
epochs = range(1, len(rmse) + 1)
### binary_accuracy와 val_binary_accuracy key를 그래프화
plt.subplot(212)  ## 2x1 개의 그래프 중에 2번째
plt.plot(epochs, rmse, 'ro', label='Training binary_accuracy')
plt.plot(epochs, val_rmse, 'r', label='Validation binary_accuracy')
plt.title('Training and validation binary_accuracy')
plt.xlabel('Epochs')
plt.ylabel('binary_accuracy')
plt.legend()

In [ ]:
# 결과를 출력합니다.
print("-----")
print(model.evaluate(x_test, y_test))
print("\n Accuracy: %.4f" % (model.evaluate(x, y)[1]))

plt.show()

In [ ]:
# 1. 데이터 불러오기
# 2. 데이터 확인하기
# 3. x,y 나누기
# 4. 전체 데이터에서 학습데이터와 테스터데이터(0.2) 구분
# 5. 딥러닝 설계  ---> kernel_initializer = tf.keras.initializers.he_normal(), tf.keras.initializers.glorot_uniform()
# 6. model.complie
# 7. model.fit
# 8. 그래프 결과 확인
# 9. test 정확도 확인

NN-MNIST

In [ ]:
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy
import os

In [ ]:
(x_train, y_train), (x_test, y_test) = tf.keras.datasets.mnist.load_data()

In [ ]:
print(len(x_train))

In [ ]:
print(len(x_train))
print(len(y_train))
print(x_train.shape)
print(y_train.shape)

In [ ]:
plt.imshow(x_train[500], cmap=plt.cm.binary)

In [ ]:
print(y_train[500])

In [ ]:
# index에 0에서 59999사이의 숫자를 지정해보세요.
index = 387
plt.imshow(x_train[index], cmap=plt.cm.binary)
plt.show()
print((index+1), "번째 이미지의 숫자는 바로 ", y_train[index],'입니다.')

In [ ]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

In [ ]:
import numpy as np
print('최소값:', np.min(x_train), '최대값:', np.max(x_train))

In [ ]:
# 정규화
x_train_norm = x_train / 255.0
x_test_norm = x_test / 255.0
print('최소값:', np.min(x_train_norm), '최대값:', np.max(x_test_norm))

In [ ]:
x_train_norm.shape

In [ ]:
# reshape 28 * 28 --> 784,1변환
x_train = x_train_norm.reshape(x_train.shape[0], 784).astype('float32')
x_test = x_test_norm.reshape(x_test.shape[0], 784).astype('float32')

y_train = tf.keras.utils.to_categorical(y_train, 10)
y_test = tf.keras.utils.to_categorical(y_test, 10)

In [ ]:
print(y_train[0])

In [ ]:
from tensorflow import keras
model = keras.models.Sequential()
model.add(keras.layers.Dense(16, activation='relu', input_shape=(784,))
model.add(keras.layers.Dense(32, activation='relu'))
model.add(keras.layers.Dense(10, activation='softmax'))

model.summary()

In [ ]:
print(len(model.layers))

In [ ]:
model.compile(optimizer='adam',
              loss = 'categorical_crossentropy',
              metrics = ['accuracy'])

history = model.fit(x_train, y_train, validation_split=0.1, epochs=10, batch_size=200, verbose=1)

In [ ]:
test_loss, test_accuracy = model.evaluate(x_test, y_test, verbose=2)
print('test loss : {}'.format(test_loss))
print('test_accuracy: {}'.format(test_accuracy))

In [ ]:
# 예측

predicted_result = model.predict(x_test)
predicted_labels = np.argmax(predicted_result,axis=1)

In [ ]:
idx = 0
print('model.predict() 결과 :',predicted_result[idx])
print('model이 추론한 가장 가능성이 높은 결과 : ',predicted_labels[idx])
print('실제 데이터의 라벨 :',y_test[idx])

In [ ]:
x_test.shape

In [ ]:
x_test_result = x_test.reshape(x_test.shape[0], 28, 28)

In [ ]:
x_test_result.shape

In [ ]:
plt.imshow(x_test_result[idx], cmap=plt.cm.binary)
plt.show()

In [ ]:

# 테스트 셋의 오차
y_vloss = history.history['val_loss']

# 학습셋의 오차
y_loss = history.history['loss']

# 그래프로 표현
x_len = numpy.arange(len(y_loss))
plt.plot(x_len, y_vloss, marker='.', c="red", label='Testset_loss')
plt.plot(x_len, y_loss, marker='.', c="blue", label='Trainset_loss')

# 그래프에 그리드를 주고 레이블을 표시
plt.legend(loc='upper right')
# plt.axis([0, 20, 0, 0.35])
plt.grid()
plt.xlabel('epoch')
plt.ylabel('loss')
plt.show()